<h1>Shopping Cart</h1>
<h3>Items in Cart:</h3>

<style>
  th, td {
    padding: 5px;
  }
</style>

<table>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>

  <% @cart.each do |item| %>
    <tr>
      <td><%= image_tag(item.image, class: "img-responsive", alt: "(Image)") %></td>
      <td><%= link_to item.item, article_path(item) %></td>
      <td>$<%= item.price %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Back', articles_path %>
