<p>
  <strong>Reviewer:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Review:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Review', [comment.article, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
