<h1>Items You Searched For</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>

</table>
