<p>
  <strong>Item:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Add To Cart', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>
