<p>
  <strong>Item:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Add To Cart(FIX)', cart_index_path %> | <%= link_to 'Back', :back %>
