<h1>Hello, Shopper!</h1>


<div class= "search-container">

  <%= form_tag(search_index_path, method: :get) %>
  <%= text_field_tag(:search) %>
  <%= submit_tag ("Search") %>

<div>

<div class = "adminLink-container">
  <%= link_to 'Admin', admin_index_path %>
</div>
