<%= render 'shared/header' %>

<h1>Hello, Shopper!</h1>
<h3>Shop</h3>
<%= link_to 'View the Catalog', controller: 'articles' %><br>

<h3>Admin Tools</h3>
<%= link_to 'Add New Product', new_article_path %>
