ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #333333;
}

li {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: grey;
}

.box .row.header {
  flex: 0 1 auto;
}
.box .row.content {
  flex: 1 1 auto;
  align-self: stretch;
  margin: 0 auto;
  background-color: white;
  width: 50%;
  padding: 20px;
  border-bottom: 1px solid #333333;
}
.box .row.footer {
  flex: 0 1 auto;
  background-color: white;
}
